h1 {
  font-size: 3rem;
}
.special__span {
  background-color: #fcf8e3;
  font-size: 1.2rem;
  padding: 0.3rem;
}
.taskContainer {
  background-color: #ffffff;
  padding: 1rem;
  width: 45%;
  position: fixed;
  top: -100%;
  left: 50%;
  z-index: 11111;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  height: auto;
}

@keyframes getSpan {
  0% {
    left: 50%;
  }
  25% {
    left: 48%;
  }
  50% {
    left: 50%;
  }
  75% {
    left: 52%;
  }
  100% {
    left: 50%;
  }
}
